<div class="row light-color round-corners mb-3">
  <app-add-task (newItemEvent)="getTasks()"></app-add-task>
</div>
<div class="row light-color round-corners">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <th>Status</th>
          <th>Task</th>
          <th>Responsible</th>
          <th>Priority</th>
        </thead>
        <tr
          *ngFor="let task of tasks"
          [class.task-completed]="task.completed"
          [class.bg-orange]="task.id == selectedTask?.id"
        >
          <td>
            <!-- TODO add some icon when task is completed + ICONS ACCORDING TO PRIORITY -->
            <!-- <i
              class="bi-alarm"
              [class.text-success]="task.completed"
              [ngClass]="{
                'text-success': task.completed,
                'text-danger': !task.completed
              }"
              *ngIf="task.completed"
            ></i> -->

            <!-- Rodoma: Jei uzduoties completed kintamasis yra false -->
            <!-- <i class="bi-alarm text-danger" *ngIf="!task.completed"></i> -->
            <input
              type="checkbox"
              [checked]="task.completed"
              (change)="toggleTask(task)"
            />
          </td>
          <td>
            <span
              (click)="toggleTaskDetails(task)"
              class="task-details-toggle-button"
            >
              {{ task.title }}
            </span>
          </td>
          <td>{{ task.author }}</td>
          <td>{{ task.priority }}</td>
          <td>
            <button (click)="deleteTask(task)" class="btn btn-danger bg-danger">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showTaskDetails">
  <app-task-card
    [task]="selectedTask"
    class="task-details-container"
    (taskDetailsCloseEvent)="toggleTaskDetails(null, true)"
  ></app-task-card>
  <div
    class="task-details-overlay"
    (click)="toggleTaskDetails(null, true)"
  ></div>
</div>
