<div class="row">
  <div class="col-12">
    <h1 class="mb-3 mt-3">TO DO LIST <i class="bi bi-activity"></i></h1>
  </div>
</div>
<app-add-task (newItemEvent)="getTasks()"></app-add-task>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <th>Status</th>
        <th>Task</th>
        <th>Responsible</th>
      </thead>
      <tr *ngFor="let task of tasks" [class.task-completed]="task.completed">
        <td>
          <input
            type="checkbox"
            [checked]="task.completed"
            (change)="toggleTask(task)"
          />
        </td>
        <td>{{ task.title }}</td>
        <td>{{ task.author }}</td>
        <td>
          <button (click)="deleteTask(task)" class="btn btn-danger bg-danger">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
