<h3 class="mt-3">Add task</h3>

<div class="alert alert-danger" *ngIf="taskForm.submitted && taskForm.invalid">
  <!-- Div'as naudojams klaidoms atvaizduoti -->
  <div *ngIf="title.errors?.['required']">Title is required</div>
  <div *ngIf="title.errors?.['minlength']">
    Title cannot be shorter than 4 symbols
  </div>
  <div *ngIf="author.errors?.['required']">Author is required</div>
  <div *ngIf="priority.errors?.['required']">Priority is required</div>
</div>

<form (ngSubmit)="addTask(taskForm)" #taskForm="ngForm">
  <div class="row">
    <div class="col-sm-4">
      <input
        [(ngModel)]="task.title"
        type="text"
        placeholder="Add task"
        name="title"
        class="mb-3"
        #title="ngModel"
        class="form-control is-valid"
        [class.is-valid]="title.valid"
        [class.is-invalid]="title.invalid && taskForm.submitted"
        minlength="4"
        required
      />

      <!-- Div'as naudojamas atvaizduoti, kad laukelis yra uzpildytas teisingai -->
      <!-- <div *ngIf="title.valid && title.dirty" class="valid-feedback">
        Looks good!
      </div> -->

      <!-- Div'as naudojams klaidoms atvaizduoti -->
      <!-- <div *ngIf="title.invalid && title.dirty">
        Title is not entered correctly
      </div> -->
    </div>
    <div class="col-sm-4">
      <input
        [(ngModel)]="task.author"
        type="text"
        placeholder="Add author"
        class="mb-3 form-control"
        name="author"
        required
        #author="ngModel"
        [class.is-valid]="author.valid"
        [class.is-invalid]="author.invalid && taskForm.submitted"
      />
    </div>

    <div class="col-sm-4">
      <select
        name="priority"
        [(ngModel)]="task.priority"
        class="form-select"
        required
        #priority="ngModel"
        [class.is-valid]="priority.valid"
        [class.is-invalid]="priority.invalid && taskForm.submitted"
      >
        <option value="" disabled>Select priority</option>
        <option value="High" ngValue="High">High</option>
        <option value="medium" [ngValue]="'Medium'">Medium</option>
        <option value="low" [ngValue]="'Low'">Low</option>
      </select>
    </div>
  </div>
  <input
    type="submit"
    class="btn bg-orange text-white mb-3 me-3"
    value="Add task"
  />
  <button
    type="button"
    class="btn btn-warning mb-3"
    (click)="taskForm.resetForm()"
  >
    Reset Form
  </button>
</form>
