<div class="row light-color round-corners mb-3">
  <app-add-user (newItemEvent)="getUsers()"></app-add-user>
</div>

<div class="row light-color round-corners">
  <div class="col-12 mt-3 mb-3" *ngFor="let user of users">
    <div class="card darker-color">
      <div class="row g-0">
        <div class="col-md-2">
          <div *ngIf="user.photo; else noPhoto">
            <img src="{{ user.photo }}" class="img-fluid" alt="user.photo" />
          </div>
          <ng-template #noPhoto>
            <img
              src="https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-512.png"
              class="img-fluid"
              alt="user.photo"
          /></ng-template>
        </div>

        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <p class="card-text">
              {{ user.email }}
            </p>
          </div>
        </div>

        <div class="col-md-2 d-flex align-items-center justify-content-center">
          <button (click)="deleteUser(user)" class="btn btn-danger bg-danger">
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
