/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.task-completed {
  text-decoration: line-through;
  color: green;
}
.light-color {
  background-color: #ffffff;
}
.darker-color {
  background-color: #f7f5f4;
}
.dark-color {
  background-color: #d0cdc3;
}

.round-corners {
  border-radius: 20px !important;
}
