<div class="card mt-3 darker-color">
  <div class="card-header">Meniu</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a routerLink="">Tasks</a>
    </li>
    <li class="list-group-item">
      <a routerLink="users">Users</a>
    </li>
    <li class="list-group-item">
      Stats
      <span
        class="
          position-absolute
          top-5
          start-100
          translate-middle
          badge
          rounded-pill
          bg-danger
        "
      >
        Coming Soon!
      </span>
    </li>
  </ul>
</div>
