<div class="card round-corners mt-3 darker-color">
  <div class="card-header darker-color">Meniu</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a routerLink=""> <i class="bi bi-list-task"></i> Tasks</a>
    </li>
    <li class="list-group-item">
      <a routerLink="users"> <i class="bi bi-person-circle"></i> Users</a>
    </li>
    <li class="list-group-item">
      <i class="bi bi-activity"></i>
      Stats
      <span
        class="
          position-absolute
          top-5
          start-100
          translate-middle
          badge
          rounded-pill
          bg-danger
        "
      >
        Coming Soon!
      </span>
    </li>
  </ul>
</div>
